name: Remind train conductors

on:
  workflow_dispatch:
    inputs:
      dry-run:
        description: 'Set true to not post to Discord.'
        required: false
        type: boolean
        default: false
      channel:
        description: 'Select Discord channel to post to.'
        required: false
        type: choice
        options:
          - officers
          - test
        default: officers

  schedule:
    - cron: "15 2 * * 3,6"

jobs:
  reminder:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v6

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 25

      - name: Remind today's train conductor
        env:
          APP_TOKEN: ${{ secrets.APP_TOKEN }}
          CHANNEL_ID: ${{ inputs.channel == 'test' && secrets.TEST_CHANNEL_ID || secrets.OFFICERS_CHANNEL_ID }}
        run: |
          dry_run=${{ inputs.dry-run != '' && inputs.dry-run || 'false' }}
          java src/main/java/com/github/beatngu13/lwstrainconductorreminder/Reminder.java $dry_run
